node_modules
__init__.py
package-lock.json
package.json
prueba.py
get-pip.py
script.py
/Overlay
/Config_page
/audio_test
/__pycache__
/Interfaz Grafica(prueba)
/venv
/temp
/ui/temp
/modules/__pycache__
/config/__pycache__
/config/settings.py
/build
/dist


